:root {
  --bg-primary: hsl(223, 87%, 63%);
  --bg-btn-hover: hsl(223, 69%, 61%);
  --bg-accent: hsl(223, 100%, 88%);
  --clr-primary: hsl(0, 0%, 59%);
  --clr-error: hsl(354, 100%, 66%);
  --clr-success: hsl(112, 100%, 66%);
  --clr-accent: hsl(209, 33%, 12%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  color: var(--clr-primary);
  font-weight: 300;
  font-size: 1rem;
  min-height: 100vh;
}

header {
  padding: 3em 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 659px;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: 300;
}

h1 > span {
  color: var(--clr-accent);
  font-weight: 700;
}

p {
  margin-bottom: 1em;
}

em {
  color: var(--clr-error);
  font-size: 00.865rem;
}

.img-div {
  margin-top: 3em;
  margin-bottom: 3em;
}

.form {
  padding: 1em 2em;
}

.form-control {
  margin-bottom: 1em;
}

.form-control input {
  padding: 0.75em;
  margin-bottom: 0.5em;
  border-radius: 40px;
  border: 2px solid var(--bg-accent);
  color: var(--clr-accent);
  font-size: 1rem;
  display: block;
  width: 100%;
}

.form-control input:focus {
  outline: none;
}

.form-control.success input {
  border-color: var(--clr-success);
}

.form-control.error input {
  border-color: var(--clr-error);
}

.form-control small {
  color: var(--clr-error);
  font-style: italic;
}

.btn {
  font-size: 1rem;
  padding: 0.75em 1.5em;
  border-radius: 40px;
  background-color: var(--bg-primary);
  color: white;
  border: 2px solid var(--bg-primary);
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  width: 100%;
}

.btn:hover {
  background-color: var(--bg-btn-hover);
}

.btn:focus {
  outline: none;
}

footer {
  padding: 2em 0;
  margin-top: auto;
  font-size: 0.865rem;
}

.social-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 2em;
}

.social-list li {
  margin: 0.25em;
}

.fa-brands {
  color: var(--bg-primary);
  border: 1px solid var(--clr-primary);
  border-radius: 50%;
  padding: 0.75em;
  width: 40px;
  height: 40px;
}

.fa-brands:hover {
  background-color: var(--bg-primary);
  color: white;
}

@media (min-width: 569px) {
  .form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
    text-align: left;
  }

  .form-control.email {
    width: 75%;
  }

  .form-control.submit-btn {
    width: 25%;
  }

  .error-message {
    text-align: left;
  }
}
